
.wizard
{
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	margin: var(--content-margin);
	padding: var(--content-padding);
	width: var(--content-width);
	max-width: var(--content-max-width);
	
	&> .form
	{
		flex: 1;
		
		h1
		{
			font-size:2.5rem;
		}
		
		p.text
		{
			margin:0 0 1rem;
			font-size:1.125rem;
			line-height:1.5rem;
		}
		
		ul
		{
			margin:0;
			padding: 0 0 0 1rem;
			
			&> li
			{
				margin: 0 0 1rem;
				font-size: 1.125rem;
				line-height: 1.5rem;
			}
		}
		
		&> .input
		{
		}
	}
	
	&> .submit
	{
		padding:1rem;
		
		&.right
		{
			text-align:right;
		}
	}
	
}
